body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #21242b; 
    color: #eaeaea; 
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #121118; 
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    border: 3px solid #86beda; 
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #d9d9db; 
}

header h2 {
    font-size: 18px;
    margin-top: 5px;
    color: #cccccc; 
}

header div {
    display: flex;
    flex-direction: column;
}

main {
    padding: 20px;
    background-color: #121118;
}

h2 {
    color: #f8f9fa; 
    font-size: 1.5rem;
    margin-bottom: 15px;
}

p, ul, li {
    color: #cccccc;
}

a {
    color: #5c87f6; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 40px;
}

.line {
    width: 90%; 
    height: 1px; 
    background-color: #545454; 
    margin: 0 auto 10px; 
    margin-top: 15px;
}

.about {
    background-color: #121118;  
    border-radius: 8px; 
    margin-bottom: 20px;
    padding: 20px; 
}

.about-heading {
    font-family: 'Montserrat', sans-serif; 
    color: white; 
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.about-content {
    color: white; 
    font-size: 1rem; 
    line-height: 1.5; 
}

.education {
    padding: 20px;
}

.education-heading {
    font-family: 'Montserrat', sans-serif; 
    color: white; 
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    line-height: 2;

}

.education-date {
    color: #f0f0f0; 
    font-size: 0.9rem;
}

.education-item h3 {
    color: white; 
    font-size: 0.9rem; 
}

.education-tech {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    gap: 10px; 
}

.education-tech li {
    color: #3894ff; 
    font-size: 0.8rem;
}

.side-projects {
    padding: 40px;
}

.projects-heading {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    font-size: 1.5rem;
    line-height: 2;
}

.project {
    background-color: #21242b; 
    padding: 20px; 
    margin: 15px 0; 
    border-radius: 5px; 
}

.project h3 {
    color: white;
    font-size: 1rem;
}

.project p {
    color: #f0f0f0;
    font-size: 0.9rem;
}

.project-tech {
    list-style-type: none; 
    padding: 0;
    display: flex;
    gap: 10px; 
}

.project-tech li {
    color: #3894ff; 
    font-size: 0.9rem;
}

footer {
    text-align: center; 
    padding: 20px; 
    color: #545454;
    background-color: #121118;
}

footer a {
    color: #545454; 
    text-decoration: none;
}

.footer-line {
    width: 90%; 
    height: 1px; 
    background-color: #545454; 
    margin: 0 auto 10px; 
}
